AthleteRegistration/Service References/AthleteService/AthleteRegistration2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AthleteRegistrationService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AthleteRegistrationService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AthleteDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AthleteId" type="xs:int" />
      <xs:element minOccurs="0" name="Bib" type="xs:int" />
      <xs:element minOccurs="0" name="Course" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Wave" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AthleteDto" nillable="true" type="tns:AthleteDto" />
  <xs:complexType name="ArrayOfAthleteDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AthleteDto" nillable="true" type="tns:AthleteDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAthleteDto" nillable="true" type="tns:ArrayOfAthleteDto" />
</xs:schema>