AthleteRegistration/Service References/AthleteService/AthleteRegistration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9090/AthleteRegistration?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AthleteRegistrationService" />
  <xs:element name="StartQueueTimer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartQueueTimerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreAthlete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AthleteRegistrationService" minOccurs="0" name="athlete" nillable="true" type="q1:AthleteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreAthleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoreAthleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAthletes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAthletesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AthleteRegistrationService" minOccurs="0" name="GetAllAthletesResult" nillable="true" type="q2:ArrayOfAthleteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistingAthlete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Bib" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistingAthleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AthleteRegistrationService" minOccurs="0" name="ExistingAthleteResult" nillable="true" type="q3:AthleteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewAthlete">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewAthleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AthleteRegistrationService" minOccurs="0" name="GetNewAthleteResult" nillable="true" type="q4:AthleteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>